@import 'colores.scss';

body{
  background-color: $verdefondo;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#llorando {
  background: url('../img/Llorando.jpg') fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

#llorando h1{
	font-size: 1000% !important;
}

#llorando a{
  font-size: 200% !important;
  color: white;
  text-decoration: underline;
}

#llorando a:hover{
  font-size: 200% !important;
  color: white;
  text-decoration: none;
}

#original, #drag_and_drop{
  height: 200px;
  border-radius: 25px;
  border: 2px solid $verdefuerte;
  padding: 20px; 
  resize: none;
}

#drag_and_drop{
    border-radius: 25px;
    border: 2px solid $verdefuerte;
    padding: 10px;
}

#icono_nube_verde{
  color: $verdefuerte;
  font-size: 1200%;
  margin-top: -20px;
}

form p{
  text-align: center !important;
}

#texto_subida{
    margin-top: -20px !important;
}

h5{
  font-size: 150%;
}

#boton_ficheros{
  margin-top: 0px;
  background-color: $verdefuerte !important;
  width: 100%;
  height: 54px;
}

#boton_ficheros:hover{
  background-color: $verdeflojo !important;
}

.input-field{
  margin-top: 10px;
}

.btn-large{
  margin-top: 10px;
  background-color: $verdefuerte !important;
  width: 100%;
}

.btn-large:hover{
  background-color: $verdeflojo !important;
}

.waves-effect{
  background-color: $verdeflojo;
}

.error {
  animation: breathing 2s ease-out infinite normal;
  background-color: $rojoerror; 
  color: white;   
}

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
