@import 'colores';

#footer_csv {
  background-color: $verdefuerte !important;
  margin-top: 0;
  padding-top: 0;
}

#row_footer {
  margin-bottom: 5px;
}

#texto_footer {
  margin-bottom: 5px;
  margin-top: 5px;
}

.chip {
  background-color: $verdefondo;
}

.chip a {
  color: #616161 !important;
}
