<% include header %>
<% include navbar %>
    <!-- los símbolos de menor y mayor con el porcentaje, se usan para poner
    javascript dentro y que se ejecute del lado del servidor -->

    
    <div class="row">
        <div class="col s10 offset-s1 center">
            <h1>Resultado CSV</h1>
            <h5>En esta página verá el resultado de su CSV valido en formato tabla.</h5>
            <table class="stripped responsive-table bordered">
                <% csv.forEach(function(row, index) { %>
                <% if(index == 0) { %>
                <tr class="<%= row.rowClass %>">
                    <% row.value.forEach(function(cell) { %>
                    <th><%=cell %></th>
                    <% }); %>
                </tr>
                <% } else { %>
                <tr class="<%= row.rowClass %>">
                    <% row.value.forEach(function(cell) { %>
                    <td><%=cell %></td>
                    <% }); %>
                </tr>
                <% } %>
                <% }); %>
            </table>
        </div>
    </div>

    <% include footer %>
