<% include header %>

<div class="row center" id="llorando">
    <div class="col s12 l6 offset-l6 white-text">
        <h1>¡ERROR!</h1>
        <h2>Has roto la página y hecho llorar al administrador.</h2>
        <h3>Busca una solución antes de que siga derramando más lágrimas por tu culpa.</h3>
        <a href="javascript:history.back()">Volver a la página anterior</a>
    </div>
</div>          

<% include footer %>
