        <footer id="footer_csv" class="page-footer">
        <div id="row_footer" class="row center white-text">
          <div class="col s12">
          <p id="texto_footer">Esta web ha sido desarrollada por: </p>
          <div class="chip hoverable">
    		<a href="http://rafaherrero.github.io"><img src="img/rafa.png" alt="Rafa Herrero">
    		Rafa Herrero</a>
  		</div>
  		<div class="chip hoverable">
    		<a href="http://danielramosacosta.github.io"><img src="img/dani.png" alt="Daniel Ramos">
    		Daniel Ramos</a>
  		</div>
  		<div class="chip hoverable">
    		<a href="http://alu0100505078.github.io"><img src="img/pedro.png" alt="Pedro Ramos">
    		Pedro Ramos</a>
  		</div>
  		</div>
  		</div>
        </footer>

    <script src="/vendor/jquery/dist/jquery.js"></script>
	<script src="/vendor/Materialize/dist/js/materialize.js"></script>
    <script src="/vendor/underscore/underscore.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
