	    </script>
    <div id="all"></div>
    <script src="/vendor/jquery/dist/jquery.js"></script>
	<script src="/vendor/Materialize/dist/js/materialize.js"></script>
    <script src="/vendor/underscore/underscore.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/underscoreConfig.js"></script>
</body>
</html>
