<% include header %>
<% include navbar %>
<main>
<div class="row">
  <div class="col s10 offset-s1 center">
   <h1>CSV Validator</h1>
   <div class="col l8 s12">
       <h5>Introduzca su CSV en el cuadro que se muestra a continuación:</h5>
       <textarea name="csvData" id="original"></textarea>
   </div>
   <div class="col l4 s12">
    <h5>Suelte en este cuadro su fichero:</h5>
    <div id="drag_and_drop" class="center">
      <i id="icono_nube_verde" class="material-icons">backup</i>
      <p id="texto_subida">¡Suelte aquí su fichero!</p>
  </div>
</div>
<form action="/csv" method="post" id="form">
    <div class="row">
        <div class="col s6">
            <button class="btn-large waves-effect " type="submit" id="boton_enviar">ENVIAR</button>
        </div>
        <div class="col s6">
            <button class="btn-large waves-effect " type="button" id="boton_guardar">GUARDAR</button>
        </div>
        <div class="col l4 s12">
          <div class="file-field input-field">
              <button class="btn-large waves-effect " id="boton_ficheros" type="button">SUBIR FICHERO
                <input type="file" id="boton_subir_fichero" name="subida_fichero"/>
            </button>
        </div>
    </div>
    <div class="col l2 s12">
    <button class="btn-large waves-effect ejemplos" type="button" >input</button>
  </div>
  <div class="col l2 s12">
      <button class="btn-large waves-effect ejemplos"  type="button" >input2</button>
  </div>
  <div class="col l2 s12">
      <button class="btn-large waves-effect ejemplos"  type="button" >input3</button>
  </div>
  <div class="col l2 s12">
      <button class="btn-large waves-effect ejemplos"  type="button" >input4</button>
  </div>
</div>
</form>
    <div class="col s12" id="contenido_bd">
        <a class='dropdown-button btn waves-effect' href='#' data-activates='dropdown1'>Ficheros contenidos en la base de datos</a>
    </div>
    </div>
</div>


<div class="row">
    <div class="col s10 offset-s1 center">
        <table class="stripped responsive-table bordered">
            <div class="output" id="finaltable">
            </div>
        </table>
    </div>
</div>
</main>
<% include footer %>
