  <div id="ventana_inicial">
    <div class="row center">
      <div class="col s12 m10 offset-m1 l6 offset-l3">
        <img id="logo_grande" src="img/logo_grande.png" class="responsive-img" alt="Logo CSV Validator">
        <p>Seleccione o cree un nuevo usuario:</p>
        <div id="ventana_inicio_sesion">
            <div id="ventana_inicio_sesion_2">
                
            </div>
         
          <div class="col s12" id="texto_bienvenida">
              
          </div>
          <div class="col s12 m6 l6 sep_boton">
          <a class="waves-effect btn boton_usuarios_2" id="boton_inicio_sesion">Iniciar sesión</a>
          </div>
          <div class="lean-overlay" id="materialize-lean-overlay-2" style="z-index: 1002; display: none; opacity: 0.5;"></div>
          <div class="col s12 m6 l6 sep_boton">
          <a class="waves-effect btn boton_usuarios_2 modal-trigger" id="boton_registro" href="#modal1">Registrarse</a>
          <div id="modal1" class="modal">
            <div class="modal-content" id="fila_registro">
              <h4>Registro</h4>
              <p>Introduzca su nombre y apellidos:</p>
              <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="nombre" type="text" class="validate">
          <label for="nombre">Nombre</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="apellidos" type="text" class="validate">
          <label for="apellidos">Apellidos</label>
        </div>
      </div>
      </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect btn">ACEPTAR</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <% include header %>
  <% include navbar %>
  <main id="pag_completa">
    <div class="row" id="prueba_fila">
      <div class="col s10 offset-s1 center">
       <h1>CSV Validator</h1>
       <div class="col l8 s12">
         <h5>Introduzca su CSV en el cuadro que se muestra a continuación:</h5>
         <textarea name="csvData" id="original"></textarea>
       </div>
       <div class="col l4 s12">
        <h5>Suelte aquí su fichero:</h5>
        <div id="drag_and_drop" class="center">
          <i id="icono_nube_verde" class="material-icons">backup</i>
          <p id="texto_subida">¡Suelte aquí su fichero!</p>
        </div>
      </div>
      <form action="/csv" method="post" id="form">
        <div class="row">
          <div class="col s6">
            <button class="btn-large waves-effect " type="submit" id="boton_enviar">ENVIAR</button>
          </div>
          <div class="col s6">
            <button class="btn-large waves-effect " type="button" id="boton_guardar">GUARDAR</button>
          </div>
          <div class="col l4 s12">
            <div class="file-field input-field">
              <button class="btn-large waves-effect " id="boton_ficheros" type="button">SUBIR FICHERO
                <input type="file" id="boton_subir_fichero" name="subida_fichero"/>
              </button>
            </div>
          </div>
          <div class="col l8 s12" id="contenido_bd">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="tabla_csv">
    <div class="col s10 offset-s1 center">
      <table class="stripped responsive-table bordered">
        <div class="output" id="finaltable">
        </div>
      </table>
    </div>
  </div>
</main>
<% include footer %>

