<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper hoverable z-depth-3">
      <a href="/" class="brand-logo center"><img id="img_logo" src="/img/logo_5.png"/></a>
    </div>
  </nav>
</div>